.hero-section {
    padding: 60px 0px;
    background-color: rgb(238, 253, 255);
    height: 100vh;
}

.hero-section p,
.hero-section h1 {
    text-align: center;
    margin-top: 100px;
}

.hero-section h1 {
    margin-top: 10px;
}

.hero-section div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-section p {
    font-size: 60px;
    font-weight: bold;
}

.hero-section h1 {
    font-size: 100px;
    color: #134E4A;
}

.hero-section div button {
    height: 40px;
    border: none;
    border-radius: 8px;
    width: 161px;
    height: 49px;
    margin-top: 20px;
}

.hero-section div :nth-child(1) {
    background-color: teal;
    color: white;
}

.hero-section div :nth-child(2) {
    border: 2px #134E4A solid;
    border-color: teal;
}