.nav {
  display: flex;
  background-color: teal;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  height: 80px;
}

.nav-ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-ul li {
  list-style-type: none;
}


/* ---------------------------Hero-Section--------------------- */

.hero-section {
  padding: 60px 0px;
  background-color: rgb(238, 253, 255);
  height: 100vh;
}

.hero-section p,
.hero-section h1 {
  text-align: center;
  margin-top: 100px;
}

.hero-section h1 {
  margin-top: 10px;
}

.hero-section div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-section p {
  font-size: 60px;
  font-weight: bold;
}

.hero-section h1 {
  font-size: 100px;
  color: #134E4A;
}

.hero-section div button {
  height: 40px;
  border: none;
  border-radius: 8px;
  width: 161px;
  height: 49px;
  margin-top: 20px;
}

.hero-section div :nth-child(1) {
  background-color: teal;
  color: white;
}

.hero-section div :nth-child(2) {
  border: 2px #134E4A solid;
  border-color: teal;
}



/* --------------------OUR-SERVICES-SECTION---------------- */

.our-services-section {
  background-color: #F8FFFD;
  padding: 30px;
  width: 100%;
  height: 667px;
}

.our-services-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.services-container {
  width: 1215px;
  height: 485px;
  /* background-color: aliceblue; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px; */
}

.our-services-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.our-services-title h3 {
  font-size: 54px;
  font-weight: bold;
}

.our-services-title div {
  width: 120px;
  height: 8px;
  background-color: #008080;
  border-radius: 10px;
}

.our-services-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.card {
  /* background-color: blue; */
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .2);
  width: 255px;
  height: 328px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  /* flex: 1; */

}

.act-like-card-img {
  /* flex-basis: 50%; */
  width: 100%;
  height: 172px;
  /* background-color: #008080; */
  background-color: transparent;
}

.card-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-details :nth-child(1) {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-details :nth-child(2) {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  font-family: "Inter", sans-serif;
}

.company-contact-section {
  /* height: 100vh; */
  padding: 60px;
}


/* ---------------------COMPANY-CONTACT-SECTION---------------- */

.company-contact-section h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.company-contact-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.company-contact-details {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.company-details {
  background-color: yellowgreen;
  width: 480px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
}

.company-details a {
  color: #737171;
}

.company-email,
.company-email .icon {
  background-color: #FFF1F2;
}

.company-email .icon i {
  color: #FB7185;
}

.company-number {
  background-color: #F0F9FF;
}

.company-number a {
  text-decoration: none;
}

.company-number .icon i {
  color: #60A5FA;
}

.icon i {
  font-size: 50px;
}

input[type=text],
input[type=email],
textarea {
  width: 1020px;
  min-height: 90px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #CCCCCC;
  font-size: 1rem;
}

textarea {
  resize: none;
}

input[type=submit] {
  width: 379px;
  height: 100px;
  background-color: #0F172A;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-inline: auto;
  margin-bottom: 50px;
}

::placeholder {
  font-size: 20px;
  font-weight: medium;
}

form div {
  text-align: center;
}